@import "./foundations/colors.scss";
@import "./foundations/breakpoints.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// general
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $dark-color;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

// characters grid
.characters-container {
  width: 60%;
}

.characters-container h2{
  color: $light-color;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

// character card
.card {
  padding: 10px;
  border-radius: 5px;
  background-color: $light-color;
  color: $dark-color;
}

.card p {
  margin-bottom: 5px;
}

.card img {
  border-radius: 5px;
  width: 100%;
}

.card-tag img {
  width: 30px;
}

.card-image-container {
  position: relative;
}

.card-tags-container {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-characteristic strong {
  color: $main-color;
}

// popUp
.popUp {
  z-index: 100;
}

.popUp,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.popUp-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  max-width: 600px;
  min-width: 300px;
}

.close-popUp {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-popUp img {
  width: 25px;
}

// header
.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header img {
  width: 70px;
  padding: 50px 0 50px 0;
}

.header p{
  color: $light-color;
  font-weight: 600;
  font-size: 1.7rem;
}

// pagination

.pagination {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding: 50px 0 50px 0;
}

.pagination ul {
  list-style-type: none;
}

.pagination button {
  background-color: $main-color;
  border: none;
  padding: 10px;
  color: $light-color;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  min-width: 150px;
}

// general

.general-container {
  width: 35%;
}
.general-container h2{
  color: $light-color;
  margin-bottom: 20px;
}

// gender
.gender-container{
  background-color: $light-color;
  border-radius: 5px;
  padding: 10px;
}

.gender{
  display: flex;
  align-items: center;
  gap: 5px;
}

.gender img{
  width: 30px;
}