@import "./foundations/colors.scss";
@import "./foundations/breakpoints.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$border-radius: 5px;

// general
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $dark-color;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .main-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include applyTo("l") {
      flex-direction: column;
    }
  }
}
// Snackbar
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: $dark-color;
  border: 3px $main-color solid;
  color: $light-color;
  text-align: center;
  border-radius: $border-radius;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

.show {
  visibility: visible !important;

  -webkit-animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
  animation:
    fadein 0.5s,
    fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
